/* main CSS. All members */

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* eventually - blue background skew
body:before {
  content: '';
  position: absolute;
  top: 32%;
  right: 43%;
  width: 50%;
  height: 25%;
  background: #00c1b3;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
  z-index: -99;
}
*/
*{
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  position: relative;
margin: 0;
padding-bottom: 6rem;
min-height: 100%;
}

img {
  max-width: 100%;
}


.mainpage{
  width: 95%;
}


p {
font-family: 'Comfortaa', cursive;
font-style: normal;
font-weight: normal;
}


h1 {
  font-family: 'Comfortaa', cursive;
  color: #000;
  font-size: 5vh;
  line-height: 135%;
}



h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 3.0vh;
  line-height: 115%;
}

h3 {
  font-weight: bold;
}

h4 {
  text-decoration: underline;
}

.underline{
  text-decoration: none !important;
}

.header {
display: flex;
justify-content: space-between;
align-items: flex-start;
margin-top: 35px;
flex-wrap: wrap;
}


.main {
  display: flex;
  flex-wrap: wrap;

}

.imglogo {
  max-width: 510px;
  margin-left: 10%;
  margin-top: 3%;
}

.imglogo2 {
  width: 200px;
  padding-left: 20px;
  padding-top: 20px;
  position: fixed;
  top: 0;
}

.imglogomobile {
  display: none;
  visibility: hidden;
}

.calendar {
  max-width: 20px;
}


/* navigation, Kornelia */
nav {
min-width: 50%;
  margin: 0 auto;
  /* background: #fff;
  padding: 50px 0; */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 10%;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}


/* stroke in the navigation */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #f15a29;
}

nav.stroke ul li a:hover:after {
  width: 100%;
  color: #f15a29;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

li a {
  padding: 25px;
}


.menudesktop {
  display: inline-block;
  width: 50%;
  padding-top: 30px;
}

.active {
  color: #f15a29;
}

a {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}


.navigationmobile {
  display: none;
}


.login {
  position: absolute;
  right: 15px;
  top: 15px;
    display: inline;
    font-size: 2.2vh;
}

.login:hover{
  border-bottom: solid 1px #f15a29;
}




.button {
  outline: 0;
  display: inline-block;
  padding: 15px;
  color: white;
  background-color: #f15a29;
  border-style: none;
  border-radius: 10px;
  text-align: center;
  width: 180px;

}

.button:hover {
  background-color: #e0005b;
}



/*
animation for buttons. CSShake Library.
! * * * * * * * * * * * * * * * * * * * *\
  CSShake :: shake-slow
  v1.5.0
  CSS classes to move your DOM
  (c) 2015 @elrumordelaluz
  http://elrumordelaluz.github.io/csshake/
  Licensed under MIT
\* * * * * * * * * * * * * * * * * * * * */

.shake-slow {

  transform-origin: center center; }

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused; }

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake-slow:hover,
.shake-trigger:hover .shake-slow {
  animation-play-state: running; }

@keyframes shake-slow {
  2% {
    transform: translate(2px, 1px) rotate(-0.5deg); }
  4% {
    transform: translate(-5px, -9px) rotate(-2.5deg); }
  6% {
    transform: translate(5px, 3px) rotate(2.5deg); }
  8% {
    transform: translate(5px, 4px) rotate(1.5deg); }
  10% {
    transform: translate(-4px, -8px) rotate(-0.5deg); }
  12% {
    transform: translate(-2px, -9px) rotate(1.5deg); }
  14% {
    transform: translate(0px, 6px) rotate(3.5deg); }
  16% {
    transform: translate(8px, 2px) rotate(2.5deg); }
  18% {
    transform: translate(-4px, -1px) rotate(1.5deg); }
  20% {
    transform: translate(10px, 2px) rotate(-2.5deg); }
  22% {
    transform: translate(-2px, -4px) rotate(1.5deg); }
  24% {
    transform: translate(-8px, 5px) rotate(-0.5deg); }
  26% {
    transform: translate(-3px, -5px) rotate(3.5deg); }
  28% {
    transform: translate(6px, 2px) rotate(2.5deg); }
  30% {
    transform: translate(-5px, -2px) rotate(2.5deg); }
  32% {
    transform: translate(5px, -6px) rotate(-2.5deg); }
  34% {
    transform: translate(5px, -7px) rotate(-1.5deg); }
  36% {
    transform: translate(3px, -9px) rotate(0.5deg); }
  38% {
    transform: translate(6px, -2px) rotate(-0.5deg); }
  40% {
    transform: translate(-4px, -2px) rotate(0.5deg); }
  42% {
    transform: translate(7px, -8px) rotate(1.5deg); }
  44% {
    transform: translate(-4px, 10px) rotate(-1.5deg); }
  46% {
    transform: translate(-3px, 8px) rotate(-1.5deg); }
  48% {
    transform: translate(3px, 6px) rotate(-0.5deg); }
  50% {
    transform: translate(4px, -1px) rotate(-2.5deg); }
  52% {
    transform: translate(1px, 5px) rotate(-0.5deg); }
  54% {
    transform: translate(-3px, 7px) rotate(-2.5deg); }
  56% {
    transform: translate(3px, 3px) rotate(-2.5deg); }
  58% {
    transform: translate(-8px, -5px) rotate(-1.5deg); }
  60% {
    transform: translate(1px, -9px) rotate(3.5deg); }
  62% {
    transform: translate(0px, -3px) rotate(-0.5deg); }
  64% {
    transform: translate(4px, 2px) rotate(2.5deg); }
  66% {
    transform: translate(4px, 10px) rotate(1.5deg); }
  68% {
    transform: translate(1px, 2px) rotate(-2.5deg); }
  70% {
    transform: translate(-9px, 10px) rotate(0.5deg); }
  72% {
    transform: translate(-5px, -8px) rotate(0.5deg); }
  74% {
    transform: translate(-3px, -8px) rotate(3.5deg); }
  76% {
    transform: translate(-1px, 8px) rotate(3.5deg); }
  78% {
    transform: translate(-5px, -4px) rotate(0.5deg); }
  80% {
    transform: translate(-6px, 1px) rotate(1.5deg); }
  82% {
    transform: translate(-5px, -7px) rotate(1.5deg); }
  84% {
    transform: translate(1px, -6px) rotate(-0.5deg); }
  86% {
    transform: translate(-8px, -4px) rotate(3.5deg); }
  88% {
    transform: translate(-6px, 7px) rotate(-1.5deg); }
  90% {
    transform: translate(9px, 6px) rotate(-2.5deg); }
  92% {
    transform: translate(9px, -8px) rotate(3.5deg); }
  94% {
    transform: translate(3px, 3px) rotate(2.5deg); }
  96% {
    transform: translate(-6px, -7px) rotate(2.5deg); }
  98% {
    transform: translate(5px, -2px) rotate(-0.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-slow:hover,
.shake-trigger:hover .shake-slow, .shake-slow.shake-freeze, .shake-slow.shake-constant {
  animation-name: shake-slow;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }





/* the end of buttons animation */



/*elements on the home page. Kornelia */

.welcometext {
max-width: 55%;
max-height: 60%;
color: rgba(0, 0, 0, 0.7);
margin-left: 10%;
}

.welcometext h1{
  font-size: 4.2vh;
}
.welcometext h2{
  font-size: 2.6vh;
}

.imgkids {
  z-index: 100;
  max-width: 680px;
  width: 100%;
  position: absolute;
  right: 10px;
  bottom: 200px;
}

.underlineorange {
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.6);
}

.underlineorange:hover {
  text-decoration-color: #f15a29;
}


.offer {
  padding-top: 40px;
  margin-bottom: 30px;
  width: 70%;
z-index: 10;
    -webkit-animation: flip-in-x 1s 0.2s;
            animation: flip-in-x 1s 0.2s;
display: flex;
flex-wrap: nowrap;
}

.imgoffer {
width: 105px;
 transition: all .2s ease-in-out;
margin-right: 20px;
/* box-shadow: 2px 2px 3px #bdbdbd;
 border-radius: 10px;
*/
}

.imgoffer:hover {
   transform: scale(1.1); }


.welcometext button {
padding: 0px;
  width: 150px;
  margin-bottom: 170px;
  margin-top: 60px;
  margin-right: 30px;
}

/* animation for offer on the home page */

@keyframes flip-in-x
{
    0%
    {
        transform: perspective(500px) rotateX(70deg);
        opacity: .2;
    }
    30%
    {
        transform: perspective(500px) rotateX(-50deg);
    }
    45%
    {
        transform: perspective(500px) rotateX(30deg);
    }
    65%
    {
        transform: perspective(500px) rotateX(-20deg);
    }
    85%
    {
        transform: perspective(500px) rotateX(10deg);
    }
    100%
    {
        transform: perspective(500px) rotateX(0deg);
    }
}
@-webkit-keyframes flip-in-x
{
    0%
    {
        -webkit-transform: perspective(500px) rotateX(70deg);
        opacity: .2;
    }
    30%
    {
        -webkit-transform: perspective(500px) rotateX(-50deg);
    }
    45%
    {
        -webkit-transform: perspective(500px) rotateX(30deg);
    }
    65%
    {
        -webkit-transform: perspective(500px) rotateX(-20deg);
    }
    85%
    {
        -webkit-transform: perspective(500px) rotateX(10deg);
    }
    100%
    {
        -webkit-transform: perspective(500px) rotateX(0deg);
    }
}


.a {
  position: absolute;
  top: 50%;
  left: 95%;
  max-width: 30px;
}






/* animation small icons related to science. Kornelia
...Probably there is shorter way existing... */

.element-animation{
  max-width: 25px;
  position: absolute;
  right: 30%;
  top: 70%;
  animation: animationFrames linear 36s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  transform-origin: 40% 50%;
  -webkit-animation: animationFrames linear 36s;
  animation-direction: alternate-reverse;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 40% 50%;
  -moz-animation: animationFrames linear 36s;
  animation-direction: alternate-reverse;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 40% 50%;
  -o-animation: animationFrames linear 36s;
  animation-direction: alternate-reverse;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 40% 50%;
  -ms-animation: animationFrames linear 36s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 40% 50%;
}



.element-animation2{
  max-width: 25px;
  position: absolute;
  right: 20%;
  top: 55%;
  animation: animationFrames2 ease-in-out 25s;
  animation-direction: reverse;
  animation-iteration-count: infinite;
  transform-origin: 30% 30%;
  -webkit-animation: animationFrames2 ease-in-out 25s;
  animation-direction: alternate-reverse;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 30% 30%;
  -moz-animation: animationFrames2 ease-in-out 25s;
  animation-direction: alternate-reverse;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 30% 30%;
  -o-animation: animationFrames2 ease-in-out 25s;
  animation-direction: alternate-reverse;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 30% 30%;
  -ms-animation: animationFrames2 ease-in-out 25s;
  animation-direction: alternate-reverse;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 30% 30%;
}


.element-animation3{
  max-width: 25px;
  position: absolute;
  right: 47%;
  top: 47%;
  animation: animationFrames ease-in-out 30s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  transform-origin: 30% 30%;
  -webkit-animation: animationFrames ease-in-out 30s;
  animation-direction: alternate-reverse;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 30% 30%;
  -moz-animation: animationFrames ease-in-out 30s;
  animation-direction: alternate-reverse;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 30% 30%;
  -o-animation: animationFrames ease-in-out 30s;
  animation-direction: alternate-reverse;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 30% 30%;
  -ms-animation: animationFrames ease-in-out 30s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 30% 30%;
}




@keyframes animationFrames{
  0% {
    transform:  translate(79px,-171px)  rotate(-28deg) scaleX(1.20) scaleY(1.20) ;
  }
  15% {
    transform:  translate(-122px,-98px)  rotate(-418deg) scaleX(1.00) scaleY(1.13) ;
  }
  31% {
    transform:  translate(-174px,41px)  rotate(-50deg) scaleX(0.91) scaleY(0.92) ;
  }
  50% {
    transform:  translate(-158px,115px)  rotate(-21deg) scaleX(0.80) scaleY(0.80) ;
  }
  68% {
    transform:  translate(90px,95px)  rotate(5deg) scaleX(0.71) scaleY(0.71) ;
  }
  89% {
    transform:  translate(207px,-2px)  rotate(9deg) scaleX(0.60) scaleY(0.60) ;
  }
  96% {
    transform:  translate(85px,-64px)  rotate(10deg) scaleX(0.90) scaleY(0.90) ;
  }
  100% {
    transform:  translate(5px,-47px)  rotate(19deg) scaleX(0.99) scaleY(0.99) ;
  }
  101% {
    transform:  translate(-2px,-45px)  rotate(20deg) scaleX(1.00) scaleY(1.00) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    -moz-transform:  translate(79px,-171px)  rotate(-28deg) scaleX(1.20) scaleY(1.20) ;
  }
  15% {
    -moz-transform:  translate(-122px,-98px)  rotate(-418deg) scaleX(1.00) scaleY(1.13) ;
  }
  31% {
    -moz-transform:  translate(-174px,41px)  rotate(-50deg) scaleX(0.91) scaleY(0.92) ;
  }
  50% {
    -moz-transform:  translate(-158px,115px)  rotate(-21deg) scaleX(0.80) scaleY(0.80) ;
  }
  68% {
    -moz-transform:  translate(90px,95px)  rotate(5deg) scaleX(0.71) scaleY(0.71) ;
  }
  89% {
    -moz-transform:  translate(207px,-2px)  rotate(9deg) scaleX(0.60) scaleY(0.60) ;
  }
  96% {
    -moz-transform:  translate(85px,-64px)  rotate(10deg) scaleX(0.90) scaleY(0.90) ;
  }
  100% {
    -moz-transform:  translate(5px,-47px)  rotate(19deg) scaleX(0.99) scaleY(0.99) ;
  }
  101% {
    -moz-transform:  translate(-2px,-45px)  rotate(20deg) scaleX(1.00) scaleY(1.00) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:  translate(79px,-171px)  rotate(-28deg) scaleX(1.20) scaleY(1.20) ;
  }
  15% {
    -webkit-transform:  translate(-122px,-98px)  rotate(-418deg) scaleX(1.00) scaleY(1.13) ;
  }
  31% {
    -webkit-transform:  translate(-174px,41px)  rotate(-50deg) scaleX(0.91) scaleY(0.92) ;
  }
  50% {
    -webkit-transform:  translate(-158px,115px)  rotate(-21deg) scaleX(0.80) scaleY(0.80) ;
  }
  68% {
    -webkit-transform:  translate(90px,95px)  rotate(5deg) scaleX(0.71) scaleY(0.71) ;
  }
  89% {
    -webkit-transform:  translate(207px,-2px)  rotate(9deg) scaleX(0.60) scaleY(0.60) ;
  }
  96% {
    -webkit-transform:  translate(85px,-64px)  rotate(10deg) scaleX(0.90) scaleY(0.90) ;
  }
  100% {
    -webkit-transform:  translate(5px,-47px)  rotate(19deg) scaleX(0.99) scaleY(0.99) ;
  }
  101% {
    -webkit-transform:  translate(-2px,-45px)  rotate(20deg) scaleX(1.00) scaleY(1.00) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    -o-transform:  translate(79px,-171px)  rotate(-28deg) scaleX(1.20) scaleY(1.20) ;
  }
  15% {
    -o-transform:  translate(-122px,-98px)  rotate(-418deg) scaleX(1.00) scaleY(1.13) ;
  }
  31% {
    -o-transform:  translate(-174px,41px)  rotate(-50deg) scaleX(0.91) scaleY(0.92) ;
  }
  50% {
    -o-transform:  translate(-158px,115px)  rotate(-21deg) scaleX(0.80) scaleY(0.80) ;
  }
  68% {
    -o-transform:  translate(90px,95px)  rotate(5deg) scaleX(0.71) scaleY(0.71) ;
  }
  89% {
    -o-transform:  translate(207px,-2px)  rotate(9deg) scaleX(0.60) scaleY(0.60) ;
  }
  96% {
    -o-transform:  translate(85px,-64px)  rotate(10deg) scaleX(0.90) scaleY(0.90) ;
  }
  100% {
    -o-transform:  translate(5px,-47px)  rotate(19deg) scaleX(0.99) scaleY(0.99) ;
  }
  101% {
    -o-transform:  translate(-2px,-45px)  rotate(20deg) scaleX(1.00) scaleY(1.00) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    -ms-transform:  translate(79px,-171px)  rotate(-28deg) scaleX(1.20) scaleY(1.20) ;
  }
  15% {
    -ms-transform:  translate(-122px,-98px)  rotate(-418deg) scaleX(1.00) scaleY(1.13) ;
  }
  31% {
    -ms-transform:  translate(-174px,41px)  rotate(-50deg) scaleX(0.91) scaleY(0.92) ;
  }
  50% {
    -ms-transform:  translate(-158px,115px)  rotate(-21deg) scaleX(0.80) scaleY(0.80) ;
  }
  68% {
    -ms-transform:  translate(90px,95px)  rotate(5deg) scaleX(0.71) scaleY(0.71) ;
  }
  89% {
    -ms-transform:  translate(207px,-2px)  rotate(9deg) scaleX(0.60) scaleY(0.60) ;
  }
  96% {
    -ms-transform:  translate(85px,-64px)  rotate(10deg) scaleX(0.90) scaleY(0.90) ;
  }
  100% {
    -ms-transform:  translate(5px,-47px)  rotate(19deg) scaleX(0.99) scaleY(0.99) ;
  }
  101% {
    -ms-transform:  translate(-2px,-45px)  rotate(20deg) scaleX(1.00) scaleY(1.00) ;
  }
}






@keyframes animationFrames2{
  0% {
    transform:  translate(100px, 70px)  rotate(28deg) scaleX(1.00) scaleY(1.00) ;
  }
  45% {
    transform:  translate(-12px,-20px)  rotate(-20deg) scaleX(1.00) scaleY(1.13) ;
  }
  60% {
    transform:  translate(-30px,-10px)  rotate(-30deg) scaleX(0.99) scaleY(0.99) ;
  }
  85% {
    transform:  translate(40px,-2px)  rotate(2deg) scaleX(0.80) scaleY(0.80) ;
  }
  91% {
    transform:  translate(85px,-64px)  rotate(10deg) scaleX(0.90) scaleY(0.90) ;
  }
  100% {
    transform:  translate(5px,-47px)  rotate(19deg) scaleX(0.99) scaleY(0.99) ;
  }
  101% {
    transform:  translate(2px,-45px)  rotate(20deg) scaleX(1.00) scaleY(1.00) ;
  }
}

@-moz-keyframes animationFrames2{
  0% {
    transform:  translate(100px, 70px)  rotate(28deg) scaleX(1.00) scaleY(1.00) ;
  }
  45% {
    transform:  translate(-12px,-20px)  rotate(-20deg) scaleX(1.00) scaleY(1.13) ;
  }
  60% {
    transform:  translate(-30px,-10px)  rotate(-30deg) scaleX(0.99) scaleY(0.99) ;
  }
  85% {
    transform:  translate(40px,-2px)  rotate(2deg) scaleX(0.80) scaleY(0.80) ;
  }
  91% {
    transform:  translate(85px,-64px)  rotate(10deg) scaleX(0.90) scaleY(0.90) ;
  }
  100% {
    transform:  translate(5px,-47px)  rotate(19deg) scaleX(0.99) scaleY(0.99) ;
  }
  101% {
    transform:  translate(2px,-45px)  rotate(20deg) scaleX(1.00) scaleY(1.00) ;
  }
}

@-webkit-keyframes animationFrames2 {
  0% {
    transform:  translate(100px, 70px)  rotate(28deg) scaleX(1.00) scaleY(1.00) ;
  }
  45% {
    transform:  translate(-12px,-20px)  rotate(-20deg) scaleX(1.00) scaleY(1.13) ;
  }
  60% {
    transform:  translate(-30px,-10px)  rotate(-30deg) scaleX(0.99) scaleY(0.99) ;
  }
  85% {
    transform:  translate(40px,-2px)  rotate(2deg) scaleX(0.80) scaleY(0.80) ;
  }
  91% {
    transform:  translate(85px,-64px)  rotate(10deg) scaleX(0.90) scaleY(0.90) ;
  }
  100% {
    transform:  translate(5px,-47px)  rotate(19deg) scaleX(0.99) scaleY(0.99) ;
  }
  101% {
    transform:  translate(2px,-45px)  rotate(20deg) scaleX(1.00) scaleY(1.00) ;
  }
}

@-o-keyframes animationFrames2 {
  0% {
    transform:  translate(100px, 70px)  rotate(28deg) scaleX(1.00) scaleY(1.00) ;
  }
  45% {
    transform:  translate(-12px,-20px)  rotate(-20deg) scaleX(1.00) scaleY(1.13) ;
  }
  60% {
    transform:  translate(-30px,-10px)  rotate(-30deg) scaleX(0.99) scaleY(0.99) ;
  }
  85% {
    transform:  translate(40px,-2px)  rotate(2deg) scaleX(0.80) scaleY(0.80) ;
  }
  91% {
    transform:  translate(85px,-64px)  rotate(10deg) scaleX(0.90) scaleY(0.90) ;
  }
  100% {
    transform:  translate(5px,-47px)  rotate(19deg) scaleX(0.99) scaleY(0.99) ;
  }
  101% {
    transform:  translate(2px,-45px)  rotate(20deg) scaleX(1.00) scaleY(1.00) ;
  }
}

@-ms-keyframes animationFrames2 {
  0% {
    transform:  translate(100px, 70px)  rotate(28deg) scaleX(1.00) scaleY(1.00) ;
  }
  45% {
    transform:  translate(-12px,-20px)  rotate(-20deg) scaleX(1.00) scaleY(1.13) ;
  }
  60% {
    transform:  translate(-30px,-10px)  rotate(-30deg) scaleX(0.99) scaleY(0.99) ;
  }
  85% {
    transform:  translate(40px,-2px)  rotate(2deg) scaleX(0.80) scaleY(0.80) ;
  }
  91% {
    transform:  translate(85px,-64px)  rotate(10deg) scaleX(0.90) scaleY(0.90) ;
  }
  100% {
    transform:  translate(5px,-47px)  rotate(19deg) scaleX(0.99) scaleY(0.99) ;
  }
  101% {
    transform:  translate(2px,-45px)  rotate(20deg) scaleX(1.00) scaleY(1.00) ;
  }
}


/* the end of the animation */




/* canvas with dots on the home page */

canvas {
z-index: 50;
position: fixed;
top: 0;
left: 0;
opacity: 0.8;
}


/* footer. Kornelia, Claudia */


#footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 2px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  background-color: #4800ba;
  height: 90px;
    }

#footer a {
  color: white;
  font-style: normal;
  font-weight: normal;
}


/* .mapdiv {
  height: 100%;
}

  .map {
  width: 940px;
  height: 480px;
  } */



#map {
  width: 105%;  /* 100% worked badly */
}

/* Mobile menu. Code from classes with Rasmus Cederdorff.
customized by Kornelia */
    /* ---------- topbar styling ---------- */

    .topbar {
      background-color: white;
      color: black;
      text-transform: uppercase;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 9999;
    }

    .topbar h2 {
      margin: 0;
      font-weight: 300;
    }

    .topbar a {
      text-decoration: none;
      color: var(--text-color-light);
      position: absolute;
      top: 20px;
    }

    .topbar a.left {
      left: 20px;
    }

    .topbar a.right {
      right: 20px;
    }

    /* ---------- tabbar styling ---------- */
    .tabbar {
      background-color: #4800ba;
      color: white;
      text-align: center;
      position: fixed;
      left: 0;
      right: 0;
      top: 70px;
      z-index: 9999;
    }

    /* Style the links inside the navigation bar */
    .tabbar a {
      display: inline-block;
      color: #c1b6d1;
      text-align: center;
      padding: 20px 16px;
      text-decoration: none;
      font-size: 0.8em;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    /* Change the color of links on hover */
    .tabbar a:hover {
      background-color: var(--light-grey);
      color: var(--text-color-dark);
    }

    /* Add a color to the active/current link */
    .tabbar a.active {
      background-color: var(--light-grey);
      color: var(--text-color-light);
    }

    /* ---------- page styling ---------- */
    .page {
      display: none;
      /*min heigh is screen heigh minus height of tab and top bar */
      min-height: calc(100vh - 110px);
      background: white;
      animation: fadeIn 0.4s;
    }

/* the end of the Mobile navigation */

/* footer icons */

#footer img {
  width: 22px;
  opacity: 0.6;
  padding: 2px;
}

/* animation of lego on the main page.
-- by Brandon Mathis https://codepen.io/imathis/pen/ZYEWrw
customized by Kornelia -- */

    .tetrominos {
      position: absolute;
      bottom: 1%;
      right: 18%;
      z-index: 30;
      -webkit-transform: translate(-112px, -96px);
              transform: translate(-112px, -96px);
    }

    .tetromino {
      width: 26px;
      height: 42px;
      position: absolute;
      transition: all ease .3s;
      background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%23010101" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;
    }

    .box1 {
      -webkit-animation: tetromino1 2s ease-out infinite;
              animation: tetromino1 2s ease-out infinite;
    }

    .box2 {
      -webkit-animation: tetromino2 2s ease-out infinite;
              animation: tetromino2 2s ease-out infinite;
    }

    .box3 {
      -webkit-animation: tetromino3 2s ease-out infinite;
              animation: tetromino3 2s ease-out infinite;
      z-index: 2;
    }

    .box4 {
      -webkit-animation: tetromino4 2s ease-out infinite;
              animation: tetromino4 2s ease-out infinite;
    }

    @-webkit-keyframes tetromino1 {
      0%, 40% {
        /* compose logo */
        /* 1 on 3 */
        /* L-shape */
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
      }
      50% {
        /* pre-box */
        -webkit-transform: translate(48px, -27px);
                transform: translate(48px, -27px);
      }
      60%, 100% {
        /* box */
        /* compose logo */
        -webkit-transform: translate(96px, 0);
                transform: translate(96px, 0);
      }
    }

    @keyframes tetromino1 {
      0%, 40% {
        /* compose logo */
        /* 1 on 3 */
        /* L-shape */
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
      }
      50% {
        /* pre-box */
        -webkit-transform: translate(48px, -27px);
                transform: translate(48px, -27px);
      }
      60%, 100% {
        /* box */
        /* compose logo */
        -webkit-transform: translate(96px, 0);
                transform: translate(96px, 0);
      }
    }
    @-webkit-keyframes tetromino2 {
      0%, 20% {
        /* compose logo */
        /* 1 on 3 */
        -webkit-transform: translate(96px, 0px);
                transform: translate(96px, 0px);
      }
      40%, 100% {
        /* L-shape */
        /* box */
        /* compose logo */
        -webkit-transform: translate(144px, 27px);
                transform: translate(144px, 27px);
      }
    }
    @keyframes tetromino2 {
      0%, 20% {
        /* compose logo */
        /* 1 on 3 */
        -webkit-transform: translate(96px, 0px);
                transform: translate(96px, 0px);
      }
      40%, 100% {
        /* L-shape */
        /* box */
        /* compose logo */
        -webkit-transform: translate(144px, 27px);
                transform: translate(144px, 27px);
      }
    }
    @-webkit-keyframes tetromino3 {
      0% {
        /* compose logo */
        -webkit-transform: translate(144px, 27px);
                transform: translate(144px, 27px);
      }
      20%, 60% {
        /* 1 on 3 */
        /* L-shape */
        /* box */
        -webkit-transform: translate(96px, 54px);
                transform: translate(96px, 54px);
      }
      90%, 100% {
        /* compose logo */
        -webkit-transform: translate(48px, 27px);
                transform: translate(48px, 27px);
      }
    }
    @keyframes tetromino3 {
      0% {
        /* compose logo */
        -webkit-transform: translate(144px, 27px);
                transform: translate(144px, 27px);
      }
      20%, 60% {
        /* 1 on 3 */
        /* L-shape */
        /* box */
        -webkit-transform: translate(96px, 54px);
                transform: translate(96px, 54px);
      }
      90%, 100% {
        /* compose logo */
        -webkit-transform: translate(48px, 27px);
                transform: translate(48px, 27px);
      }
    }
    @-webkit-keyframes tetromino4 {
      0%, 60% {
        /* compose logo */
        /* 1 on 3 */
        /* L-shape */
        /* box */
        -webkit-transform: translate(48px, 57px);
                transform: translate(48px, 57px);
      }
      90%, 100% {
        /* compose logo */
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
      }
    }
    @keyframes tetromino4 {
      0%, 60% {
        /* compose logo */
        /* 1 on 3 */
        /* L-shape */
        /* box */
        -webkit-transform: translate(48px, 27px);
                transform: translate(48px, 27px);
      }
      90%, 100% {
        /* compose logo */
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
      }
    }


    /* the end */


    /* interactive letters in title of about and activities page
    Customized by Kornelia and Claudia
    Copyright (c) 2019 by agathaco (https://codepen.io/agathaco/pen/jmZKNM)
    https://codepen.io/agathaco/pen/jmZKNM
    also:
    https://tympanus.net/codrops/2013/11/14/animated-opening-type/*/

    .wrapper {
    	width: 30%;
    	font-family: 'Passion One', sans-serif;
      letter-spacing: -5px;
      margin-left: 18%;
    	-webkit-backface-visibility: hidden;
    	backface-visibility: hidden;
      padding-left: 40px;
    }

    .wrapper .heading {
    	text-transform: uppercase;
    	font-size: 4.1vw;
    	font-weight: 900;
      letter-spacing: -7px;
    	text-shadow: 1px 4px 6px #e6e2df;
    	white-space: nowrap;

    }
    .wrapper span {
    	position: relative;
    	-webkit-transform-style: preserve-3d;
    	-ms-transform-style: preserve-3d;
    	transform-style: preserve-3d;
    	-webkit-perspective: 450px;
    	-ms-perspective: 450px;
    	perspective: 450px;
    	z-index: 1;
    }

    .wrapper span.char1 {
    	color: #f15a29;
    }
    .wrapper span.char1:hover {
    	color: #f15a29;
    }
    .wrapper span.char1:hover::after {
    	background: -webkit-linear-gradient(left, #f76738 0%, #f76738 75%);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    }
    .wrapper span.char2 {
    	color: #e0005b;
    }
    .wrapper span.char2:hover {
    	color: #e0005b;
    }
    .wrapper span.char2:hover::after {
    	background: -webkit-linear-gradient(left, #ed2c7a 0%, #ed2c7a 75%);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    }
    .wrapper span.char3 {
    	color: #c60063;
    }
    .wrapper span.char3:hover {
    	color: #c60063;
    }
    .wrapper span.char3:hover::after {
    	background: -webkit-linear-gradient(left, #d52c80 0%, #d52c80 75%);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    }
    .wrapper span.char4 {
    	color: #bc007d;
    }
    .wrapper span.char4:hover {
    	color: #bc007d;
    }
    .wrapper span.char4:hover::after {
    	background: -webkit-linear-gradient(left, #d92b9f 0%, #d92b9f 75%);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    }
    .wrapper span.char5 {
    	color: #a80088;
    }
    .wrapper span.char5:hover {
    	color: #a80088;
    }
    .wrapper span.char5:hover::after {
    	background: -webkit-linear-gradient(left, #b63d9f 0%, #b63d9f 75%);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    }

    .wrapper span.char6 {
    	color: #a8009a;
    }
    .wrapper span.char6:hover {
    	color: #a8009a;
    }
    .wrapper span.char6:hover::after {
    	background: -webkit-linear-gradient(left, #b63d9f 0%, #b63d9f 75%);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    }

    .wrapper span.char7 {
    	color: #9a00a8;
    }
    .wrapper span.char7:hover {
    	color: #9a00a8;
    }
    .wrapper span.char7:hover::after {
    	background: -webkit-linear-gradient(left, #b63d9f 0%, #b63d9f 75%);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    }
    .wrapper span.char8 {
    	color: #7000a8;
    }
    .wrapper span.char8:hover {
    	color: #7000a8;
    }
    .wrapper span.char8:hover::after {
    	background: -webkit-linear-gradient(left, #7000a8 0%, #7000a8 75%);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    }
    .wrapper span.char9 {
    	color: #4600a8;
    }
    .wrapper span.char9:hover {
    	color: #4600a8;
    }
    .wrapper span.char9:hover::after {
    	background: -webkit-linear-gradient(left, #4600a8 0%, #4600a8 75%);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    }
    .wrapper span.char10 {
    	color: #0300a8;
    }
    .wrapper span.char10:hover {
    	color: #0300a8;
    }
    .wrapper span.char10:hover::after {
    	background: -webkit-linear-gradient(left, #0300a8 0%, #0300a8 75%);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    }


    .wrapper span::before {
    	-webkit-transform: scale(1.01, 1) skew(0deg, 1deg);
    	-ms-transform: scale(1.01, 1) skew(0deg, 1deg);
    	transform: scale(1.01, 1) skew(0deg, 1deg);
    	color: transparent;
    	text-shadow: 0px 0px 0px rgba(0,0,0,0.15);
    }
    .wrapper span::after {
    	-webkit-transition: all 250ms ease;
    	transition: all 250ms ease;
    	-webkit-backface-visibility: hidden;
    	backface-visibility: hidden;
    	text-shadow: 2px 0px 1px hsla(0, 0%, 0%, 0.05);
    	-webkit-transform: rotateY(-15deg);
    	-ms-transform: rotateY(-15deg);
    	transform: rotateY(-15deg);
    }
    .wrapper span::before, .wrapper span::after {
    	content: attr(data-heading);
    	position: absolute;
    	left: 0;
    	-webkit-transform-origin: 0 50%;
    	-ms-transform-origin: 0 50%;
    	transform-origin: 0 50%;
    	-webkit-transition: all .3s;
    	transition: all .3s;
    }
    .wrapper span:hover::before {
    	-webkit-transform: scale(0.85, 1) skew(0deg, 10deg);
    	-ms-transform: scale(0.85, 1) skew(0deg, 10deg);
    	transform: scale(0.85, 1) skew(0deg, 10deg);
    }
    .wrapper span:hover::after {
    	-webkit-transform: rotateY(-40deg);
    	-ms-transform: rotateY(-40deg);
    	transform: rotateY(-40deg);
    }



.container {
	bottom: 2%;
	right: 3%;
	margin: 0;
	position: absolute;
  width:80px;
  z-index: -500px;
}

#front-2, #front-4, #front-6, #back-2 {
  visibility: hidden;
}


/* ------- ABOUT US. Adi -------- */

.about1 {
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  display:grid;
  grid-template-columns: 40% 60%;

}


.about1 img {
  width: 90%;
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  padding-top: 15%;
}

.rect {
  background: #00C1B3;
  box-shadow: 0px 21px 30px rgba(0, 0, 0, 0.25);
  width: 100%;
height: 320px;
grid-column: 1;
grid-row: 1;
align-self: center;
justify-self: center;
}

.bgrect {
  align-self: center;
  height: 320px;
  box-shadow: 0px 21px 30px rgba(0, 0, 0, 0.25);
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 30px;
}

.bgrect h3 {
  border-bottom: 3px solid #00C1B3;
  display: inline;
  font-size: 1.6em;

}

.about2 {
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;

  display:grid;
  grid-template-columns: 60% 40%;

}

.about2 img {
  width: 90%;
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
  padding-top: 15%;
}

.rect2 {
  background: #00C1B3;
  box-shadow: 0px 21px 30px rgba(0, 0, 0, 0.25);
  width: 100%;
height: 320px;
grid-column: 2;
grid-row: 1;
align-self: center;
justify-self: center;
}

.bgrect2 {
  align-self: center;
  height: 320px;
  box-shadow: 0px 21px 30px rgba(0, 0, 0, 0.25);
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 30px;
}

.bgrect2 h3 {
  border-bottom: 3px solid #00C1B3;
  display: inline;
}


.about3 {
  margin-bottom: 120px;
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;

  display:grid;
  grid-template-columns: 40% 60%;

}

.about3 img {
  width: 90%;
  grid-row: 1;
  grid-column: 1;
  padding-top: 15%;
  justify-self: center;
}

.rect3 {
  background: #00C1B3;
  box-shadow: 0px 21px 30px rgba(0, 0, 0, 0.25);
  width: 100%;
height: 320px;
grid-column: 1;
grid-row: 1;
align-self: center;
justify-self: center;
}

.bgrect3 {
  align-self: center;
  height: 320px;
  box-shadow: 0px 21px 30px rgba(0, 0, 0, 0.25);
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 30px;
}

.bgrect3 h3 {
  border-bottom: 3px solid #00C1B3;
  display: inline;
}

.about4 {
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px ;
  margin-left: 150px;
  margin-right: 140px;
}

iframe {
  width: 100%;
}




/* ----- ACTIVITIES Claudia ------ */



/* Cards - 'activities'. Claudia */

.cards-activities, .cards-activities::before, .cards-activities::after {
  box-sizing: border-box;
  padding: 2%;
  margin-left: 5%;
  bottom: 5%;
  margin-bottom: 3%;
}



.act-left img {
  min-height: 200px;
  max-height: 290px;
  position: absolute;
  left: 5%;
  padding: 0px;
  margin-bottom: 0;
  margin-top: -12px;
}


.act-right img {
  min-height: 200px;
  max-height: 290px;
  position: absolute;
  right: 5%;
  padding: 0px;
  margin-bottom: 0;
  margin-top: -12px;
}



.column {
  float: left;
  width: 33.33%;
  margin-bottom: 16px;
  padding: 20px;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-height: 100%;
}

.card img {
  max-height: 220px;
}

.container-cards {
padding: 10px;
text-align: center;
padding-bottom: 20px;
}

.container-cards::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.card img{
  max-width: 120px;
  margin-left: 30%;
  padding-top: 6%;
  -webkit-animation: flip-diagonal-1-tr 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  	        animation: flip-diagonal-1-tr 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

}



/* ----------------------------------------------
 * Generated by Animista on 2019-12-15 20:9:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-diagonal-1-tr
 * ----------------------------------------
 */

 /* animation for images in the cards */

@-webkit-keyframes flip-diagonal-1-tr {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 180deg);
            transform: rotate3d(1, 1, 0, 180deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
  }
}
@keyframes flip-diagonal-1-tr {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 180deg);
            transform: rotate3d(1, 1, 0, 180deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
  }
}


/* Activities page - divs and animations. Claudia */


.act-text {
  margin-bottom: 5%;
background-color: white;

}

.act-text1, .act-text2, .act-text3 {
  background-color: #D1BFEE;
  padding: 2%;
  margin-bottom: 14%;
  text-align: justify;
  text-justify: inter-word;
}



.act-text1{
  margin-left: 30%;
  -webkit-animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	        animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;

}

.act-text2{
  margin-left: 5%;
  margin-right: 25%;
  -webkit-animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
  	       animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;

}

.act-text3{
  margin-left: 30%;
  -webkit-animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4s both;
	        animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4s both;

}

.checkmap {
  font-size: 5vh;
}



/* TABLET VERSION All members*/

@media only screen and (max-width: 1500px) {

.header {
  padding-bottom: 5%;

}
.imglogo {
  padding-bottom: 10%;
  padding-left: 5px;
}


body {
  align-items: center;
}
}




@media only screen and (max-width: 950px) {
  .imgkids {
    bottom: 100px;
  }


.offerimg {
  padding: 3px;
}

.act-left img {
  max-width: 30%;
  max-height: auto;
}

.act-right img {
  max-width: 50%;
  max-height: auto;
}


.moveicons {
  display: none;
}


.menu {
  display: none;
}

.body {
  font-size: 80%;
}

.menu a {
  display: flex;
  flex-wrap: wrap;
}



.offer {
  margin-bottom: 20px;
}

}


/* MOBILE VERSION All members*/

@media screen and (max-width: 700px) {

  .imgkids {
    visibility: hidden;
  }

  .act-left img, .act-right img {
    display: none;
  }

  .menudesktop {
    display: none;
  }


  .column {
    width: 100%;
    display: block;
  }
  .act-text {
    overflow: hidden;
  }
  .act-text h3, .act-text p{
    padding: 5%;
    margin-left: 0;
  }
  .act-text1, .act-text2, .act-text3{
      margin-left: 5%;
      margin-right: 0;
    }
    .act-left img, .act-right img{
      width: 30%;
      padding-left: 5%;
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 0;
      margin-right:0;
    }


    .column img{
      padding-top: 5%;
      margin:0;
    }


  .navigationmobile {
    visibility: visible;
    display: block;
    top: 0;
  }

  .imglogo2 {
    position: fixed;
    height: auto;
    width: 220px;
    margin-bottom: 30px;
    max-width: 220px;
  top: 2px;
  left: 2px;
  }


.imglogomobile {
  visibility: visible;
  display: block;
  position: fixed;
  height: auto;
  width: 220px;
  margin-bottom: 30px;
  max-width: 220px;
  top: 2px;
  left: 2px;
  padding-left: 20px;
  padding-top: 20px;
}

.imglogo {
  visibility: hidden;
}

.header {
  position: fixed;
  overflow: hidden;
  background-color: white;
  height: 150px;
  top: 0;
  width: 100%;
  margin-top: 0;
  z-index: 40;
}


.login {
  padding-top: 3px;
  padding-right: 3px;
  font-size: 2vh;
}

.offer {
  display: flex;
  flex-wrap: wrap;
margin-left: auto;
}

.imgoffer {
  width: 130px;
  height: auto;
  padding-bottom: 35px;
}

body {
  text-align: center;
  width: 100%;
}

.welcometext h2{
  font-size: 2.9vh;
}

.welcometext button {
  margin-bottom: 10px;
}

.welcometext {
  margin-bottom: 50px;
}
.main {
  width: 100%;
}

.welcometext {
  max-width: 85%;
  margin-top: 150px;
}


.tetrominos {
  visibility: hidden;
}


.wrapper {
 visibility: hidden;
}



.about1 , .about2 , .about3 {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
}

.bgrect {
  grid-row: 2;
  height: 350px;
}

.bgrect h3, .bgrect2 h3, .bgrect3 h3 {
  font-size: 1em;
}

.bgrect p, .bgrect2 p, .bgrect3 p {
  font-size: .8em;
  text-align: left;
  padding-top: 10px;
}

.about2 img {
  grid-column: 1/2;
  grid-row: 3;
}

.rect2 {
  grid-column: 1/2;
  grid-row: 3;
}

.bgrect2 {
  grid-column: 1/2;
  grid-row: 4;
}

.rect, .rect2, .rect3 {
  width: 100% ;
  height: 200px;
}

.about4 {
display: grid;
grid-template-columns: 1fr;
width: 100%;
margin: auto;
justify-content: center;
grid-row-gap: 60px;

}







}
